* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --spacing-sm: 16px;
  --spacing-md: 34px;
  --spacing-lg: 50px;
}

.header {
  text-align: center;
}

.container {
  width: 100dvw;
  height: 100dvh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  gap: 10px;
}

.grid-item {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}
